@model Usuario

@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1>Bienvenido</h1>
</div>
<hr />
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <form method="post" asp-action="Login">
            <div class="text-danger">
                @ViewBag.Error
            </div>
            <div class="form-group">
                <label laber-for="nombre" class="control-label">Nombre de usuario:</label>
                <input name="nombre" class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label label-for="clave" class="control-label">Contraseña:</label>
                <input name="clave" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>